@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div>
            <span href="authentication/profile">Logged as @context.User.Identity.Name!</span>
            <button class="option-button" @onclick="BeginSignOut" >Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <a href="authentication/register"><button class="option-button">Register</button></a>
            <a href="authentication/login"><button class="option-button">Log in</button></a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}

<style>

    .option-button {
        width: 15%;
        border-radius: 7px;
        background-color: cornflowerblue;
        margin: 10px;
    }
    

</style>